services:
  - type: web
    name: panamatravelhub-api
    runtime: dotnet
    plan: starter
    # Auto-deploy habilitado: Render desplegará automáticamente cuando haya push a la rama main
    autoDeploy: true
    branch: main
    buildCommand: dotnet publish src/PanamaTravelHub.API/PanamaTravelHub.API.csproj -c Release -o ./publish
    startCommand: cd ./publish && dotnet PanamaTravelHub.API.dll
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://0.0.0.0:10000
      - key: ConnectionStrings__DefaultConnection
        value: Host=dpg-d54nnjf5r7bs73ej6gn0-a.oregon-postgres.render.com;Port=5432;Database=panamatravelhub;Username=panamatravelhub_user;Password=YFxc28DdPtabZS11XfVxywP5SnS53yZP;SSL Mode=Require;Trust Server Certificate=true
    healthCheckPath: /health

